[tool.poetry]
name = "paddlepaddle-stubs"
version = "2.3.1-dev.0"
description = ""
authors = ["Nyakku Shigure <sigure.qaq@gmail.com>"]
packages = [{ include = "paddle-stubs" }]

[tool.poetry.dependencies]
python = "^3.7"
paddlepaddle = "^2.3.1"
typing-extensions = "^4.3.0"

[tool.poetry.group.dev.dependencies]
black = "^22.1"
isort = "^5.10.1"
pyright = "^1.1.263"

[tool.black]
line-length = 120

[tool.isort]
profile = "black"
add_imports = ["from __future__ import annotations"]
skip = ["setup.py", ".venv"]

[tool.pyright]
include = ["paddle-stubs", "tests"]
ignore = ["paddle-stubs/fluid"]
pythonVersion = "3.7"

[build-system]
requires = ["poetry-core>=1.1.0b3"]
build-backend = "poetry.core.masonry.api"
